<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type href="https://fonts.googleapis.com/earlyaccess/cwtexhei.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>猜單字遊戲</title>
</head>

<body>
  <h1>猜單字遊戲</h1>
  <h3>請在吊死鬼完全現身前猜出下面的英文單字</h4>
  <img src="/image/<%= image_number %>.png">
  <p class="word"><%= answer %></p>
  <form id="gameover">
    <h3 class="gameover"><%= gameover_message %></h3>
    <div><input type='submit' value='再來一局'/></div>
  </form>
</html>
