<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type href="https://fonts.googleapis.com/earlyaccess/cwtexhei.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>猜單字遊戲</title>
</head>

<body>
  <h1>猜單字遊戲</h1>
  <h3>請在吊死鬼完全現身前猜出下面的英文單字</h4>
  <img src="/image/0.png" height="300" width="300">
  <form>
    <div>
      鑰匙： <input id = "key" class="text" type='text' name="key">
      <input type='submit' value='加密' name="encode"/>
    </div>
  </form>
  <a href="https://zh.wikipedia.org/zh-tw/凱撒密碼">什麼是凱薩加密法？</a>
</html>
